# Ignore Chrome
chrome/

# Ignore Firefox
firefox/

*.log
.vscode
__pycache__/

local_test.py

venv
*.csv

.idea

java/.metadata
D:\Bertram Rowen\texts\code\selenium_up\Selenium_up\java\selenium_up\src\main\java\sele_up_java\selenium_up\LogTest.java